API_ID=6067591 # get this value from my.telegram.org
API_HASH=94e17044c2393f43fda31d3afe77b26b # get this value from my.telegram.org
BOT_TOKEN=1988535912:AAHwBn_txsUbcKaD_BGNT1W9vSZ2ZfirCJ4 # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://ABHISINGH01:ABHISINGH01@cluster0.wsztg.mongodb.net/myFirstDatabase?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001658407031 # get this value from in your log group 
MUSIC_BOT_NAME=ABHI MUSIC PLAYER # your music bot name 
STRING_SESSION=BQAYTDkQ9M0ToszFMbFp2J3mUDLuI8haocPsLCw3UwIYP-dEFoTiFcdxHON2fefDQCt1Q_gZWhAsXFZk4-xnB2-_vVXhclIcO4pxPHaEyQ3ThBNUfBmIzbZq3dPxHMBCugcEo37dCvJVe4RHiuXofiEbNbYqhOFNSxqTy_MY-UZ1CuOwhf2RH-VzHtjpjFTX3HAFxfQXVZAaGWHsQAfGQ-yfihpQIBRPI_hIgVC318fSzbPbRBslkc2ng-Eq6EOBt71QS_8sBVHtCGS2T6-_ugMUm4cBCZsgQc6Q_CcDqIDjOlVPS7tDOxbbRhY7WYIoq-B6QP-5BhNpJUofWvkJZA1AAAAAATYSMycA # get this value from @yukkistringbot
